body
{
	font-family: verdana, arial, sans-serif; 
	background-color: #888;
}


.whiteout,.results
{
	background-color: #FFF;
	margin: 5px 10px 5px 10px;
	padding: 10px 10px 10px 10px;
}


.total
{
	font-size: 1.0em;
	color: #000;
}

.form
{
	margin: 0px 10px 0px 10px;
	padding: 5px 5px 5px 5px;
	border: solid #000 1px;
	background-color: #DDD;
	height: 12%;
	overflow: auto;
}

.form a
{
	padding-left: 50px;
	font-size: 0.8em;
	color: #555;
}

.form,.tc,input,select
{
	font-size: 0.8em;
}

.tc
{
	border: solid #000 1px;
	margin: 5px 10px 5px 10px;
	padding: 5px 5px 5px 5px;
}

input,select,.form
{
	color: #555;
}

.label
{
	font-style: italic;
	font-weight: bold;
	margin-right: 20px;
}

.ref
{
	padding-top: 5px;
	border-bottom: solid #999 1px;
}

.page
{
	display: inline;
	font-style: italic;
}

.text
{
}

.comment
{
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment_text
{
	font-size: 0.8em;
}

.user
{
	font-size: 0.7em;
	font-weight: bold;
}

.home
{
	position: absolute; 
	height: 100%; 
	width: 100%;
	text-align: center;
	font-size: 0.8em;
}

.home a
{
	color: #000;
	font-style: none;
}
